<h1 style="margin-top:100px;">Dashboard</h1>
<p>This is going to be the central hub for all the services a user can access on the website</p>
<p>For each of the Notes, Groups, Tutors categories, it will have all the CRUD functionalities</p>
<% if user_signed_in? %>
      <h2>Welcome to your dashboard, <strong><%= current_user.page.name %></strong>.</h2>
      <h3>Current Balance: <strong>$<%= current_user.balance %></strong></h3>
<% end %>
</br>

<h1>Groups you created:</h1>

<table class="table">
    <thead class="thead-dark">
        <th scope="col"><h6>Lead</h6></th>
        <th scope="col"><h6>Course</h6></th>
        <th scope="col"><h6>Description</h6></th>
        <th scope="col"><h6>Date</h6></th>
        <th scope="col"><h6>Time</h6></th>
        <th scope="col"><h6>Duration (hrs)</h6></th>
        <th scope="col"><h6>Location</h6></th>
        <th scope="col"><h6>Capacity</h6></th>
        <th scope="col"><h6>Expand</h6></th>
    </thead>

    <tbody>
        <% @groups_created.each do |group| %>
            <tr>
                <td><%= group.user.page.name %></td>
                <td><%= group.category %></td>
                <td><%= group.description %></td>
                <td><%= group.time %></td>
                <td><%= group.duration %></td>
                <td><%= group.location %></td>
                <td><%= group.capacity %></td>
                <td><%= link_to 'Show', group %></td>
                <td><%= link_to 'Edit', edit_group_path(group) %></td>
                <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<h1>Groups you joined:</h1>

<table class="table">
    <thead class="thead-dark">
        <th scope="col"><h6>Lead</h6></th>
        <th scope="col"><h6>Course</h6></th>
        <th scope="col"><h6>Description</h6></th>
        <th scope="col"><h6>Date</h6></th>
        <th scope="col"><h6>Time</h6></th>
        <th scope="col"><h6>Duration (hrs)</h6></th>
        <th scope="col"><h6>Location</h6></th>
        <th scope="col"><h6>Capacity</h6></th>
        <th scope="col"><h6>Expand</h6></th>
    </thead>

    <tbody>
        <% @groups_joined.each do |group| %>
            <tr>
                <td><%= group.user.page.name %></td>
                <td><%= group.category %></td>
                <td><%= group.description %></td>
                <td><%= group.date %></td>
                <td><%= group.time.to_s(:time) %></td>
                <td><%= group.duration %></td>
                <td><%= group.location %></td>
                <td><%= group.capacity %></td>
                <td><%= link_to 'Show', group %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Explore more study groups', groups_path, class:"btn btn-secondary"%>
</br>
</br>
</br>

<h1>Your posted notes</h1>

<div  class="row" >
    <% current_user.notes.each do |note|%>
    <div class="col-md-4 col-sm-6" style="margin-top:3vh;margin-bottom:3vh;">
        <div class="card">

            <div class="card-body">
                <h4><%= note.course %> - <%= note.prof %></h4>
                <h2 class="title"><%= link_to note.title, note %></h2>

                <p class="card-text"><%= note.content %> </p>
                <% note.attachments.blobs.each do |document| %>
                    <p class="card-text">
                        <%= link_to document.filename, rails_blob_path(document, disposition: 'preview'), target: :_blank, :class => 'link_to_color' %>
                    </p>
                <% end %>
                <p class="card-text">By <%= link_to note.user.page.name, page_path(note.user.id), :class => 'link_to_color' %></p>


                <p>Likes: <%= note.cached_votes_score %>
                (<% if note.cached_votes_total == 0 %><%= note.cached_votes_up.to_f * 100 %>
                <% else %><%= (note.cached_votes_up.to_f/note.cached_votes_total.to_f * 100).round(2) %>
                <% end %>%)
                </p>
            </div>
            <div class="card-footer">
                <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(note.created_at)%> ago</small></p>

            </div>
        </div>
    </div>
    <% end %>
</div>

</br>
</br>
</br>

<h1>Your liked notes</h1>

<div  class="row" >
    <% @notes.each do |note|%>
        <% if current_user.voted_up_on? note %>
        <div class="col-md-4 col-sm-6" style="margin-top:3vh;margin-bottom:3vh;">
            <div class="card">

                <div class="card-body">
                    <h4><%= note.course %> - <%= note.prof %></h4>
                    <h2 class="title"><%= link_to note.title, note %></h2>

                    <p class="card-text"><%= note.content %> </p>
                    <p class="card-text">By <%= link_to note.user.page.name, page_path(note.user.id), :class => 'link_to_color' %></p>

                    <p>Likes: <%= note.cached_votes_score %>
                    (<% if note.cached_votes_total == 0 %><%= note.cached_votes_up.to_f * 100 %>
                    <% else %><%= (note.cached_votes_up.to_f/note.cached_votes_total.to_f * 100).round(2) %>
                    <% end %>%)
                    </p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(note.created_at)%> ago</small></p>

                </div>
            </div>
        </div>
        <% end %>
    <% end %>
</div>

<h1>Your Job Postings</h1>

<% if current_user.posts.empty? %>
    <h1>Seems like you need a Buddy.  <%= link_to 'Create Job', '/posts/new' %><h1>
<% else %>
    <h1>Your Jobs: </h1>
<%end %>

<div  class="row" >
    <% current_user.posts.each do |post|%>

        <div class="col-md-4 col-sm-6" style="margin-top:3vh;margin-bottom:3vh;">
            <div class="card">

                <div class="card-body">
                    
                    <h2 class="card-title title"><%= link_to post.title, post %></h2>

                    <p class="card-text"><%= post.content %></p>
                    <p class="card-text"><%= post.limit %></p>
                    <p class="card-text"><small class="text-muted"><%= post.user.email %></small></p>
                    
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(post.created_at)%> ago</small></p>

                </div>
            </div>
        </div>
    <% end %>
</div>


<% if @jobs.empty? %>
    <h1>You have no Job offers.  <%= link_to 'Apply', '/posts/' %><h1>
<% else %>
    <h1>Your Jobs: </h1>
<%end %>


<div  class="row" >
    <% @jobs.each do |app|%>
        <% post = app.post %>

        <div class="col-md-4 col-sm-6" style="margin-top:3vh;margin-bottom:3vh;">
            <div class="card">

                <div class="card-body">
                    
                    <h2 class="card-title title"><%= link_to post.title, post %></h2>

                    <p class="card-text"><%= post.content %></p>
                    <p class="card-text"><%= post.limit %></p>
                    <p class="card-text"><small class="text-muted"><%= post.user.email %></small></p>
                    
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(post.created_at)%> ago</small></p>

                </div>
            </div>
        </div>
    <% end %>
</div>






<% if @pending.empty? %>
    <h1>You have no pending applications. <%= link_to 'Apply', '/posts/' %><h1>

<% else %>
    <h1>Pending Applications:</h1>
<%end %>
<div  class="row" >
    <% @pending.each do |app|%>
        <% post = app.post %>
        <% next if post.is_accepting_applicants == false %>
        <div class="col-md-4 col-sm-6" style="margin-top:3vh;margin-bottom:3vh;">
            <div class="card">

                <div class="card-body">
                    <h1><%= app.id %></h1>
                    <h2 class="card-title title"><%= link_to post.title, post %></h2>

                    <p class="card-text"><%= post.content %></p>
                    <p class="card-text"><%= post.limit %></p>
                    <p class="card-text"><small class="text-muted"><%= post.user.email %></small></p>
                    
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(post.created_at)%> ago</small></p>

                </div>
            </div>
        </div>
    <% end %>
</div>


