<h1>Dashboard</h1>
<p>This is going to be the central hub for all the services a user can access on the website</p>
<p>For each of the Notes, Groups, Tutors categories, it will have all the CRUD functionalities</p>
<% if user_signed_in? %>
      <h2>Welcome to your dashboard, <strong><%= current_user.name %></strong>.</h2>
<% end %>

<h1>Groups you created:</h1>

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Category</th>
            <th>Description</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Location</th>
            <th>Capacity</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @groups_created.each do |group| %>
            <tr>
                <td><%= group.user.email %></td>
                <td><%= group.category %></td>
                <td><%= group.description %></td>
                <td><%= group.start_time %></td>
                <td><%= group.end_time %></td>
                <td><%= group.location %></td>
                <td><%= group.capacity %></td>
                <td><%= link_to 'Show', group %></td>
                <td><%= link_to 'Edit', edit_group_path(group) %></td>
                <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<br>

<h1>Groups you joined:</h1>

<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Category</th>
            <th>Description</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Location</th>
            <th>Capacity</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @groups_joined.each do |group| %>
            <tr>
                <td><%= group.user.email %></td>
                <td><%= group.category %></td>
                <td><%= group.description %></td>
                <td><%= group.start_time %></td>
                <td><%= group.end_time %></td>
                <td><%= group.location %></td>
                <td><%= group.capacity %></td>
                <td><%= link_to 'Show', group %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Explore more study groups', groups_path, class:"btn btn-outline-success my-2 my-sm-0"%>


<h1>Your posted notes</h1>

<div id="posts">
<% current_user.notes.each do |note|%>
    <h2><%= note.course %></h2>
    <div class="post">
    <h2 class="title"><%= link_to note.title, note %></h2>
    <h4><%= note.content %> </h4>

    <% note.attachments.blobs.each do |document| %>
    <p>
    <%= link_to document.filename, rails_blob_path(document, disposition: 'preview') %>
    </p>
    <% end %>

    <p class="date"><%= time_ago_in_words(note.created_at)%> ago </p>
    <p><%= note.user.email %></p>

    <p>Likes: <%= note.get_upvotes.size() %></p>
    </div>
<% end %>
</div>

<h1>Your liked notes</h1>

<div id="posts">
<% @notes.each do |note|%>
    <% if current_user.voted_for? note %>
        <h2><%= note.course %></h2>
        <div class="post">
        <h2 class="title"><%= link_to note.title, note %></h2>
        <h4><%= note.content %> </h4>

        <% note.attachments.blobs.each do |document| %>
        <p>
        <%= link_to document.filename, rails_blob_path(document, disposition: 'preview') %>
        </p>
        <% end %>

        <p class="date"><%= time_ago_in_words(note.created_at)%> ago </p>
        <p><%= note.user.email %></p>

        <p>Likes: <%= note.get_upvotes.size() %></p>
    <% end %>
</div>
<% end %>
</div>

<%= link_to "Checkout(test)", dashboard_checkout_path %>
