<br>
<br>
<div class="row">

<div class="col-12 text-center dashtitle">
<h1>Edit Note</h1>

<%= form_with model: @note, local: true do |form| %>
  <p>
    <%= form.label :course %><br>
    <%= form.text_field :course %>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :professor %><br>
    <%= form.text_field :prof %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :attachments %><br>
    <%= form.file_field :attachments, multiple: true %>
  </p>

  <% @note.attachments.blobs.each do |document| %>
    <p>
    <%= link_to document.filename, rails_blob_path(document, disposition: 'preview') %>
    </p>
  <% end %>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<p>
    <%= link_to 'back', :back %>
</p>

</div>
</div>
