</br>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>
Notes
<button class="btn btn-light"><a><%= link_to "New Note", new_note_path%></a></button>
</h1>


<p>
<a class="btn btn-light" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
Search options:
</a>
</p>
<div class="collapse" id="collapse">
    <%= form_tag(notes_path, method: :get) do %>
    <h5>Search by course:
        <%= text_field_tag(:search, params[:search]) %>
        <%= button_tag :submit do %>
            <i class='material-icons'>search</i>
        <% end %>
    </h5>

    <h5>Search by name:&nbsp;&nbsp;
        <%= text_field_tag(:searchName, params[:searchName]) %>
        <%= button_tag :submit do %>
        <i class='material-icons'>search</i>
        <% end %>
    </h5>

    <h5>Search by email:&nbsp;&nbsp;
        <%= text_field_tag(:searchEmail, params[:searchEmail]) %>
        <%= button_tag :submit do %>
        <i class='material-icons'>search</i>
        <% end %>
    </h5>
</div>

<button class="btn btn-light"><a><%= link_to 'Clear Search', notes_url, :class => 'clearsearch' %></a></button>
</br></br>

<h3>Sort by:</h3>
<p>
    <th><%= togglesort "title", "Title" %></th> |
    <th><%= togglesort "course", "Course" %></th> |
    <th><%= togglesort "prof", "Professor" %></th> |
    <th><%= togglesort "created_at", "Created" %></th> | 
    <th><%= togglesort "cached_votes_score", "Likes" %></th>
</p>
<% end %>


<div  class="row" >
<% @notes.each do |note|%>
    <div class="col-md-4 col-sm-6" style="margin-top:3vh;margin-bottom:3vh;">
        <div class="card">
            
            <div class="card-body">
                <h4><%= note.course %> - <%= note.prof %></h4>
                <h2 class="title"><%= link_to note.title, note %></h2>

                <% note.attachments.blobs.each do |document| %>
                    <p class="card-text">
                        <%= link_to document.filename, rails_blob_path(document, disposition: 'preview'), target: :_blank, :class => 'link_to_color' %>
                    </p>
                <% end %>
                <p class="card-text">By <%= link_to note.user.page.name, page_path(note.user.id), :class => 'link_to_color' %></p>
                <p class="card-text"><%= note.content %> </p>

                <p>Likes: <%= note.cached_votes_score %>
                (<% if note.cached_votes_total == 0 %><%= note.cached_votes_up.to_f * 100 %>
                <% else %><%= note.cached_votes_up.to_f/note.cached_votes_total.to_f * 100 %>
                <% end %>%)
                </p>
                <p>
                    <%= link_to '<i class="fas fa-heart"></i>'.html_safe,controller: "notes", action: "like", id: note.id  %>
                    <%= link_to '<i class="fas fa-thumbs-down"></i>'.html_safe,controller: "notes", action: "dislike", id: note.id  %>
                </p>
            </div>
            <div class="card-footer">
                <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(note.created_at)%> ago</small></p>

            </div>
        </div>
    </div>
<% end %>
</div>
