<h1>Create New Note</h1>

<%= form_with scope: :note, url: notes_path, local: true do |form| %>
  <p>
    <%= form.label :course %><br>
    <%= form.text_field :course %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  <p>
    <%= form.label :professor %><br>
    <%= form.text_field :prof %>
</p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :attachments %><br>
    <%= form.file_field :attachments, multiple: true %>
  </p>


  <p>
    <%= form.submit %>
  </p>

  <p>
    <%= link_to 'Back', :back %>
  </p>

<% end %>
