<div class="col-12 text-center">
<h1 class="dashtitle">Explore Study Groups</h1>
<p>These are study groups that you are not a part of. Join any that interest you!</p>
</div>
<div class="container-fluid" style="width: 95vw;">
<h3>Search by course:</h3>
<%= form_tag(groups_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag 'Search', name: nil, class:"btn btn-secondary" %>
<% end %>
</div>
<div class="col-12 text-right">
<br>
<br>
<%= link_to "Create a new study group", { :action => "new" }, class:"btn btn-secondary" %>
</div>
<br>
<div class="table-responsive">
<table class="table">
    <thead class="thead-dark">
        <th scope="col"><h5>Lead</h5></th>
        <th scope="col"><h5>Course</h5></th>
        <th scope="col"><h5>Description</h5></th>
        <th scope="col"><h5>Date</h5></th>
        <th scope="col"><h5>Time</h5></th>
        <th scope="col"><h5>Duration (hrs)</h5></th>
        <th scope="col"><h5>Location</h5></th>
        <th scope="col"><h5>Capacity</h5></th>
        <th scope="col"><h5>Expand</h5></th>
    </thead>
    <tbody>
    <% @groups.each do |group| %>
        <tr>
            <td><%= group.user.page.name %></td>
            <td><%= group.category %></td>
            <td><%= group.description %></td>
            <td><%= group.date %></td>
            <td><%= group.time.to_s(:time) %></td>
            <td><%= group.duration %></td>
            <td><%= group.location %></td>
            <td><%= group.capacity %></td>
            <td><%= link_to 'Show', controller: "groups", action: "show", id: group %></td>
        </tr>
    </tbody>
    <% end %>

</table>
</div>