<h1>Explore Study Groups</h1>
<p>These are study groups that you are not a part of. Join any that interest you!</p>

<h3>Search by course:</h3>
<%= form_tag(groups_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag 'Search', name: nil, class:"btn btn-secondary" %>
<% end %>

</br>
<%= link_to "Create a new study group", { :action => "new" }, class:"btn btn-outline-success my-2 my-sm-0" %>
</br>
</br>
<table>
    <tr>
        <th>Lead</th>
        <th>Course</th>
        <th>Description</th>
        <th>Date</th>
        <th>Time</th>
        <th>Duration (hours)</th>
        <th>Location</th>
        <th>Capacity</th>
    </tr>

    <% @groups.each do |group| %>
        <tr>
            <td><%= group.user.page.name %></td>
            <td><%= group.category %></td>
            <td><%= group.description %></td>
            <td><%= group.date %></td>
            <td><%= group.time.to_s(:time) %></td>
            <td><%= group.duration %></td>
            <td><%= group.location %></td>
            <td><%= group.capacity %></td>
            <td><%= link_to 'Show', controller: "groups", action: "show", id: group %></td>
        </tr>
    <% end %>

</table>
