<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @group.category %>
</p>

<p>
  <strong>Lead:</strong>
  <li>
  <%= @group.user.page.name %>
  </li>
</p>

<p>
  <strong>Study Group Members:</strong>
  <% @members.each do |member| %>
    <% if member.group_id == @group.id %>
      <li>
        <%= @users.find(member.user_id).page.name%>
      </li>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @group.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @group.time.to_s(:time) %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @group.duration %> hours
</p>

<p>
  <strong>Location:</strong>
  <%= @group.location %>
</p>

<p>
  <strong>Number of buddies needed:</strong>
  <%= @group.capacity %>
</p>

<% if current_user.id != @group.user_id %>
  <% if (!Member.exists?(user_id: current_user.id, group_id: @group.id)) %>
    <%= button_to "Join Study Group", {:action => "join", :group_id => @group.id}, :method => :post %>
  <% else %>
    <%= button_to "Leave Study Group", {:action => "unjoin", :group_id => @group.id}, :method => :post %>
  <% end %>
<% end %>

<%= button_to "Explore Study Groups", { :action => "index" }, :method => :get %>

<% if @group.user_id == current_user.id%>
    <%= link_to 'Edit', edit_group_path(@group) %> |
    <%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back to Dashboard', dashboard_index_path %>
