<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @group.category %>
</p>

<p>
  <strong>Study Group Members:</strong>
  <% @members.each do |member| %>
    <% if member.group_id == @group.id %>
      <li>
        <%= @users.find(member.user_id).email%>
      </li>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @group.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @group.end_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @group.location %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @group.capacity %>
</p>

<% if (!Member.exists?(user_id: current_user.id, group_id: @group.id)) %>
  <%= button_to "Join Study Group", {:action => "join", :group_id => @group.id}, :method => :post %>
<% else %>
  <%= button_to "Leave Study Group", {:action => "unjoin", :group_id => @group.id}, :method => :post %>
<% end %>
<%= button_to "Return to all study groups", { :action => "index" }, :method => :get %>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', dashboard_index_path %>
