<%= form_with(model: page, local: true) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <p>
    <%= form.label "Profile Photo" %>
    <%= profile_picture(@page)%>
    <%= form.label "Upload Photo" %>
    <%= form.file_field :avatar %>
  </p>

  <div class="field">
    <%= form.label :about_me %>
    <%= form.text_area :about_me %>
  </div>

  <p>
    <% if @page.resume.attached? %>
        <%= form.label "Resume" %>
        <%= link_to @page.resume.filename, rails_blob_path(@page.resume, disposition: 'preview') %>
        <%= link_to "Remove", controller: "pages", action: "delete_resume", id: @page.id %>
    <%else%>
        <%= form.label "Upload Resume" %>
        <%= form.file_field :resume %>
    <%end%> 
  </p>

  <p>
    <% if @page.transcript.attached? %>
        <%= form.label "Transcript" %>
        <%= link_to @page.transcript.filename, rails_blob_path(@page.transcript, disposition: 'preview') %>
        <%= link_to "Remove", controller: "pages", action: "delete_transcript", id: @page.id %>
    <%else%>
        <%= form.label "Upload Transcript" %>
        <%= form.file_field :transcript %>
    <%end%> 
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
