<p id="notice"><%= notice %></p>

<h1>Profiles</h1>
<h5>Connect with other students for homework help!</h5>

<form class="form-inline my-2 my-lg-0" >
    <%= text_field_tag :search, params[:search], class:"form-control"%>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
</form>
<br/>


  <h2>Buddies: </h2>

<% @pages.each do |page| %>
  <%next  if current_user.id == page.user_id %>
  <div class="container-fluid" style="width: 99vw; margin-top:100px;">
      <div class="row justify-content-center">
          <div class="col-12 text-center">
              <div class="card" style="border-radius:5px;">
                  <div class="avatar">
                      <td class="img-avatar"><%=profile_picture(@page)%></td>
                  </div>
                  <div class="card-body">
                      <h1 style="color:#3c4858;"><%= @page.name %></h1>
                      <p><%= @page.user.email%></p>
                      <p><%= @page.about_me %></p>
                      <a href="#" class="btn btn-primary">Invite</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
<% end %>







