<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table>
  <tbody>
    <% @pages.each do |page| %>
      <%next if current_user.id == page.user_id %>
      <tr colspan="3">
          <td><%=profile_picture(page)%></td>
          <td>
              <h2><%= page.name %></h2>
              <h7><%= link_to 'View Profile', page %></h7>
              <p><%= page.about_me %></p>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

