<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-12 text-center dashtitle">
<h1>Buddies</h1>
</div>
</div>
<h5>Connect with other students for homework help!</h5>


<form class="form-inline my-2 my-lg-0" >
<%= text_field_tag :search, params[:search], class:"form-control"%>
<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
</form>
</div>
</div>
</div>


<div class="row justify-content-center" style="margin-top:10vh;">
<% @pages.each do |page| %>
  <%next  if current_user.id == page.user_id %>
          <div class="col-md-6 text-center" style="margin-top:20vh">
              <div class="card" style="border-radius:5px;">
                  <div class="avatar">
                      <td class="img-avatar"><%=profile_picture(page)%></td>
                  </div>
                  <div class="card-body">
                      <h1 style="color:#3c4858;"><%= link_to page.name, page %></h1>
                      
                      <p><%= page.user.email%></p>
                      <p><%= page.about_me %></p>
                  </div>
              </div>
          </div>
<% end %>
</div>






