<p id="notice"><%= notice %></p>

<h1>Profiles</h1>
<h5>Connect with other students for homework help!</h5>

<form class="form-inline my-2 my-lg-0" >
    <%= text_field_tag :search, params[:search], class:"form-control"%>
    <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
</form>
<br/>


  <h2>Buddies: </h2>





  <div class="row no-pad justify-content-center">
  <% @pages.each do |page| %>
    <%next  if current_user.id == page.user_id %>
    <div class="col-12" style="margin-top:10px;">
      <div class="card">
        <div class="card-body">
            <td><%=profile_picture(page)%></td>
            <h2><%= page.name %></h2>

            <h6><%= link_to 'View Profile', page %></h6> |
            <h6><%= link_to 'Contact' %></h6> |
            <h6><%= link_to page.user.email %></h6>
            <p><%= page.about_me %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>





