<p id="notice"><%= notice %></p>

<p>
   <strong>Name:</strong>
   <%= @page.name %>
</p>

<div class="row">
    <%= profile_picture(@page)%>
</div>

<p>
   <strong>About me:</strong>
   <%= @page.about_me %>
</p>

<p>
  <strong>Resume:</strong>
   <% if @page.resume.attached? %>
      <%= link_to @page.resume.filename, rails_blob_path(@page.resume, disposition: 'preview') %>
   <%end%>
</p>

<p>
  <strong>Transcript:</strong>
   <% if @page.transcript.attached? %>
      <%= link_to @page.transcript.filename, rails_blob_path(@page.transcript, disposition: 'preview') %>
   <%end%>
</p>

<%if current_user.id == @page.user_id %>
  <%=link_to 'Edit', edit_page_path(@page) %> 
<%end%>

<%# link_to 'Back', pages_path %>