<p id="notice"><%= notice %></p>

<table>
  <tbody>
      <tr>
          <td><%=profile_picture(@page)%></td>
          <td>
              <h1><%= @page.name %></h1>
              <p><%= @page.about_me %></p>
          </td>
      </tr>
  </tbody>
</table>

<p>
  <strong>Resume:</strong>
   <% if @page.resume.attached? %>
      <%= link_to @page.resume.filename, rails_blob_path(@page.resume, disposition: 'preview') %>
   <%end%>
</p>

<p>
  <strong>Transcript:</strong>
   <% if @page.transcript.attached? %>
      <%= link_to @page.transcript.filename, rails_blob_path(@page.transcript, disposition: 'preview') %>
   <%end%>
</p>

<%if current_user.id == @page.user_id %>
  <%=link_to 'Edit', edit_page_path(@page) %> 
<%else%>
  <%= link_to 'Back', pages_path %>
<%end%>

