<h1>Edit Post</h1>

<%= form_for(@post, url: {action: 'update', id: @post.id}) do |form| %>
  <p>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose A Category"} %>
  </p>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :number %><br>
    <%= form.number_field :limit %>
  </p> 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "posts" , posts_path%>