<h1>Edit Post</h1>

<%= form_with model: @post, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :number %><br>
    <%= form.number_field :limit %>
  </p> 

  <p>
    <%= form.label "Attach Notes" %><br>
    <%= form.select(:note_ids, @notes, {:prompt => "Select Notes"}, {:multiple => true})%>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "posts" , posts_path%>