<br>
<br>
<div class="row">
<div class="col-12 text-center dashtitle">
<h1>Create New Post</h1>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose A Category"} %>
  </p>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :content %>
  </p>

  <p>
    <%= form.label :number %><br>
    <%= form.number_field :limit %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.number_field :price, step: :any %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>
</div>