<h1><%= @post.title %></h1>
<h1><%= @post.content %></h1>
<h1><%= @post.limit %></h1>

<% if current_user  == @post.user %>
    <br>
    <br>
    <h1 class="page_title">Applicants to this Job:</h1>
    <% @apps = @post.post_applications.includes(:user)%>
    <% @apps.order("created_at DESC").each do |app| %>
      <li>
        <%= app.user.email %>
      </li>
      <br>
    <% end %>


    <%= link_to 'edit', edit_post_path(@post)%>
    <%= link_to 'delete', post_path(@post), method: :delete, data: {confirm: "are you sure you want to delte this?"} %>
<% else %>
    <% app = @post.post_applications.where(user_id: current_user.id).last %>
    <% if app.blank? %>
        <%= form_with(model: [ @post, @post.post_applications.new ], local: true) do |form| %>
          <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.submit %>
        <% end %>
    <% else %>
        <%= button_to 'Cancel Job Application',
        post_post_application_path(@post, app),
        method: :delete,
        data: {confirm: 'Are you sure?'} %>
    <% end %>

<% end %>

<%= link_to "home", root_path %>

<p>Below is for Paypal testting</p>    

<body>
  <script
    src="https://www.paypal.com/sdk/js?client-id=AR4bc1-7vGLLOMOyeoxKSx6v3qR0-dFTZxwAGoGI8Jh9mtw-f3hYe6FZNcKsrAuUGHV63r6zyjw5JXw3">
  </script>

  <div id="paypal-button-container"></div>

  <script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '6.9'
          }
        }]
      });
    }
  }).render('#paypal-button-container');
  </script>