<!DOCTYPE html>
<html>
  <head>
    <title>Buddy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="main_header clearfix">
      <div class="container">
        <p id="logo">studyBuddy</p>
        <% if user_signed_in?%>
          <button class="new_post"><a><%= link_to "About", pages#about%></a></button>
          <button class="new_post"><a><%= link_to "New Post", new_post_path%></a></button>
          <button class="new_post"><a><%= link_to "Log out", destroy_user_session_path, :method => :delete%></a></button>
        <% else %>
          <button class="new_post"><a><%= link_to "About", pages#about%></a></button>
          <button ><a><%= link_to "Sign Up", new_user_registration_path%></a></button>
          <button ><a><%= link_to "Sign In", new_user_session_path%></a></button>

        <% end %>
      </div>
    </header>
    
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
<%# need to add normalize.css %>